body {
  font-family: 'Arbutus Slab', serif;
  font-size: 15px;
  margin-left: 30px;
}
#title-image  {
  display:block;
  margin: 0 auto;
}
.parents  {
  font-size: 15px;
  font-weight:bold;
  }
.children {
  font-weight:bold;
}
.grandchildren {
    font-style: italic;
}
.sidebar {
  background-color: #FFC3A0;
  border: 10px solid #db8171;
  height: 150px;
  width: 200px;
  margin-top: -60px;
  margin-right: 50px;
  padding: 5px;
  position:absolute;
  right: 0; // position element to the right
  }
  .reference {
    font-size: 10px;
  }
  .parent-image {
    float:right;
    margin: 0px 500px 15px 0px;
    height: 120px;
    width: 120px;
  }
.family-name {
  font-size: 20px;
  text-color: blue;
  text-style: italics;
  padding-top: 30px;
}
ul.nav li {
     display: inline;
     padding-right: 20px;
}
footer {
  font-size: 10px;
  margin-top: 200px;
}
.square1 {
  background: #00aa9d;
  color: black;
  border-radius: 3px;
  height: 100px;
  margin: 100px;
  position: absolute;
  transition: transform 0.8s;
  width: 250px;
}

.square2 {
  color: #FFFFFF;
  background: #2b3f53;
  border-radius: 3px;
  height: 100px;
  margin: 100px;
  transition: transform 0.8s;
  position: absolute;
  width: 250px;
}
.square2:hover {
  transform: translate(30px, 30px);
}
